@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');


*{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    min-height: 110vh;
    margin: auto;
}
body::-webkit-scrollbar {
    display: none;
}